<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="form" (ngSubmit)="save($event)" novalidate>

                <!--username-->
                <div class="form-group">
                    <label for="username">* Username</label>
                    <input type="text" id="username" formControlName="username" class="form-control">
                    <!--errors username-->
                    <ng-container *ngIf="usernameField.errors && usernameField.touched">
                        <ng-container *ngIf="usernameField.hasError('required')">
                            <p class="text-danger">You must entry your name!!!</p>
                        </ng-container>
                    </ng-container>
                </div>

                <!--category-->
                <div class="form-group">
                    <label for="label">* Select a category:</label>
                    <select formControlName="category" class="form-control custom-select">
                        <option value=""> - Select - </option>
                        <option [value]="c" *ngFor="let c of categories;let i=index">{{c}}</option>
                    </select>
                    <!--errors category-->
                    <ng-container *ngIf="categoryField.errors && categoryField.touched">
                        <ng-container *ngIf="categoryField.hasError('required')">
                            <p class="text-danger">You must entry a category!!!</p>
                        </ng-container>
                    </ng-container>
                </div>

                <!--date-->
                <div class="form-group">
                    <label for="date">* Date:</label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                    <!--errors date-->
                    <ng-container *ngIf="dateField.errors && dateField.touched">
                        <ng-container *ngIf="dateField.hasError('required')">
                            <p class="text-danger">You must entry the date!!!</p>
                        </ng-container>
                    </ng-container>

                </div>

                <!--email-->
                <div class="form-group">
                    <label for="email">* Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                    <!--errors email-->
                    <ng-container *ngIf="emailField.errors && emailField.touched">
                        <ng-container *ngIf="emailField.hasError('required')">
                            <p class="text-danger">You must entry your email!!!</p>
                        </ng-container>
                    </ng-container>

                </div>

                <!--textArea-->
                <div class="form-group">
                    <label for="textarea">Write your message: </label>
                    <br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="textarea" rows="8" formControlName="textarea" maxlength="200">
                        </textarea>
                    <p [ngStyle]="{'color':(form.get('textarea').value.length)>=6 && (form.get('textarea').value.length)<200?'green': 'red'}">Must be 6-200 character long. {{form.get('textarea').value.length}}/200 </p>
                    <!--errors textArea-->
                    <ng-container *ngIf="textareaField.errors && textareaField.touched">
                        <ng-container *ngIf="textareaField.hasError('required')">
                            <p class="text-danger">You must entry a message!!!</p>
                        </ng-container>
                        <ng-container *ngIf="textareaField.hasError('maxlength')">
                            <p class="text-danger">Max to 200 caracter!!!</p>
                        </ng-container>
                        <ng-container *ngIf="textareaField.hasError('minlength')">
                            <p class="text-danger">Min to 6 caracter!!!</p>
                        </ng-container>
                    </ng-container>
                </div>

                <hr>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <table>
                <tr>
                    <th>user</th>
                    <th>date</th>
                    <th>email</th>
                    <th>text</th>
                    <th>category</th>
                </tr>
                <tr>
                    <td *ngFor="let user of form.value">{{user}}</td>
                </tr>

            </table>
            <p>{{form.value | json}}</p>
            <p>{{form.status | json}}</p>
        </div>
    </div>
</div>