<!-- *************** primer bloque *************** -->
<div class="container">
    <div>
        <h1 class="text-center">Formulario reactivo</h1>
    </div>

    <mat-card>
        <mat-grid-list cols="8" gutterSize="10" rowHeight="150px">
            <mat-grid-tile [colspan]="8" class="contfullwidth">
                <mat-form-field class="fullwidth">
                    <mat-label>Pais </mat-label>
                    <input matInput placeholder="pais" [formControl]="pais" type="text" name="" id="">
                    <mat-hint *ngIf="!pais.valid && pais.touched">
                        Ingrese como minimo tres caracteres
                    </mat-hint>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-stroked-button (click)=updatePais()>Update</button>
        <br>
        <p>
            pais: {{pais.value}}
            <br> formulario valido: {{pais.valid}}
        </p>
    </mat-card>
    <br>

    <!-- segundo bloque -->

    <mat-card>
        <form action="" [formGroup]="formPais">
            <mat-grid-list cols="8" gutterSize="10" rowHeight="150px">
                <mat-grid-tile [colspan]="4" class="contfullwidth">
                    <mat-form-field class="fullwidth">
                        <mat-label>Pais: </mat-label>
                        <input matInput placeholder="pais" formControlName="pais" type="text" name="" id="">
                        <mat-hint *ngIf="!formPais.get('pais').valid && formPais.get('pais').touched">
                            campo requerido
                        </mat-hint>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" class="contfullwidth">
                    <mat-form-field class="fullwidth">
                        <mat-label>Capital: </mat-label>
                        <input matInput placeholder="capital" formControlName="capital" type="text" name="capital" id="">
                        <mat-hint *ngIf="!formPais.get('capital').valid && formPais.get('capital').touched">
                            campo requerido
                        </mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <br>
            <p>
                pais: {{formPais.get('pais')?.value}} <br> capital: {{formPais.get('capital').value}}
                <br> formulario valido: {{formPais.valid}}
            </p>
        </form>
    </mat-card>


    <!-- tercer bloque -->